body {
  margin: 0;
  font-family: "Gamja Flower", cursive;
  background-color: #caa88c;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
